// Heading Color
$heading-color: #242424;

// Text Color
$text-color: #6d6d6d;

// Default Background
$bg-default: #07b2c7;

// Gray Background
$bg-gray: #f7f7f7;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #131212;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: #fbb710;

// Footer Color
$footer-color: #2d2d2d;

// Secondary Color
$secondary-color: #3c3c3c;